<div class="container-fluid mt-100">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-header">
          <div class="media flex-wrap w-100 align-items-center">
            <img
              src="{{ headerImage }}"
              (error)="updateUrl()"
              class="d-block ui-w-40 rounded-circle"
              alt=""
            />
            <div class="media-body ml-3">
              <h1>{{ userId }}</h1>
              <h1>{{ title }}</h1>
            </div>
            <div class="text-muted small ml-3">
              <div>
                Last Updated <strong>{{ lastUpdated }}</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <textarea readonly name="" id="" cols="50" rows="10">{{
            content
          }}</textarea>
        </div>
        <div
          class="card-footer d-flex flex-wrap flex-row-reverse align-items-center px-0 pt-0 pb-3"
        >
          <div class="px-4 pt-3">
            <div *ngIf="currentUser">
              <button
                type="button"
                (click)="EditPost()"
                class="btn btn-primary"
              >
                <i class="ion ion-md-create"></i>&nbsp; Edit
              </button>
              <button
                type="button"
                (click)="DeletePost()"
                class="btn btn-secondary"
              >
                <i class="ion ion-md-create"></i>&nbsp; Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
